/* line 1, sass/_base.scss */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

/* line 21, sass/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 26, sass/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 32, sass/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* line 37, sass/_base.scss */
body {
  font-family: "Open sans";
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

/* line 1, sass/_layout.scss */
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

/* line 10, sass/_layout.scss */
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 21, sass/_layout.scss */
.content {
  display: flex; }

/* line 25, sass/_layout.scss */
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* line 35, sass/_layout.scss */
.hotel-view {
  background-color: #fff;
  flex: 1; }

/* line 40, sass/_layout.scss */
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

/* line 48, sass/_layout.scss */
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }

/* line 56, sass/_layout.scss */
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 4, sass/_components.scss */
.logo {
  height: 3.25rem;
  margin-left: 2rem; }

/* line 11, sass/_components.scss */
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 18, sass/_components.scss */
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    /* line 30, sass/_components.scss */
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    /* line 36, sass/_components.scss */
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  /* line 42, sass/_components.scss */
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  /* line 46, sass/_components.scss */
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    /* line 50, sass/_components.scss */
    .search__button:focus {
      outline: none; }
    /* line 54, sass/_components.scss */
    .search__button:active {
      transform: translateY(2px); }
  /* line 59, sass/_components.scss */
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

/* line 69, sass/_components.scss */
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  /* line 75, sass/_components.scss */
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  /* line 84, sass/_components.scss */
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  /* line 88, sass/_components.scss */
  .user-nav__icon-box {
    position: relative; }
  /* line 92, sass/_components.scss */
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  /* line 98, sass/_components.scss */
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 117, sass/_components.scss */
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

/* line 130, sass/_components.scss */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  /* line 135, sass/_components.scss */
  .side-nav__item {
    position: relative; }
    /* line 138, sass/_components.scss */
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  /* line 144, sass/_components.scss */
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  /* line 157, sass/_components.scss */
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  /* line 163, sass/_components.scss */
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  /* line 167, sass/_components.scss */
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  /* line 181, sass/_components.scss */
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

/* line 191, sass/_components.scss */
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

/* line 201, sass/_components.scss */
.gallery {
  display: flex; }
  /* line 204, sass/_components.scss */
  .gallery__photo {
    width: 100%;
    display: block; }

/* line 212, sass/_components.scss */
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  /* line 217, sass/_components.scss */
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  /* line 225, sass/_components.scss */
  .overview__stars {
    margin-right: auto;
    display: flex; }
  /* line 231, sass/_components.scss */
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  /* line 238, sass/_components.scss */
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
    margin-right: 0.5rem; }
  /* line 245, sass/_components.scss */
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  /* line 258, sass/_components.scss */
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  /* line 264, sass/_components.scss */
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

/* line 272, sass/_components.scss */
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  /* line 283, sass/_components.scss */
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  /* line 288, sass/_components.scss */
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    /* line 291, sass/_components.scss */
    .btn-inline:hover span {
      margin-left: 8px; }
  /* line 296, sass/_components.scss */
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/* line 321, sass/_components.scss */
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

/* line 327, sass/_components.scss */
.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  /* line 337, sass/_components.scss */
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  /* line 342, sass/_components.scss */
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

/* line 364, sass/_components.scss */
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-light-3);
  display: flex;
  align-items: center; }
  /* line 371, sass/_components.scss */
  .recommend__count {
    margin-right: auto; }
  /* line 378, sass/_components.scss */
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    /* line 385, sass/_components.scss */
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

/* line 394, sass/_components.scss */
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  /* line 403, sass/_components.scss */
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  /* line 410, sass/_components.scss */
  .review__user {
    display: flex;
    align-items: center; }
  /* line 415, sass/_components.scss */
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  /* line 422, sass/_components.scss */
  .review__user-box {
    display: flex;
    flex-direction: column; }
  /* line 427, sass/_components.scss */
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  /* line 434, sass/_components.scss */
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  /* line 439, sass/_components.scss */
  .review__rating {
    margin-left: auto;
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  /* line 446, sass/_components.scss */
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

/* line 462, sass/_components.scss */
.cta {
  padding: 3.5rem 0;
  text-align: center; }
  /* line 466, sass/_components.scss */
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

/* line 476, sass/_components.scss */
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  /* line 492, sass/_components.scss */
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  /* line 499, sass/_components.scss */
  .btn__visible {
    padding: 2rem 7.5rem; }
  /* line 503, sass/_components.scss */
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  /* line 511, sass/_components.scss */
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  /* line 519, sass/_components.scss */
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  /* line 523, sass/_components.scss */
  .btn:hover .btn__invisible {
    top: 0; }
  /* line 527, sass/_components.scss */
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
